<!-- inserta el contenido de base.html en esta pagina -->
{% extends 'core/base.html' %}

{% block title %} Registrar {% endblock %}

{% block content %}
{% load static %}
<hr class="border border-color-light">
<div class="container text-center">
<h3 class="text-light"><strong>REGISTRO DE ALUMNOS</strong></h3>
</div>
<hr class="border border-color-light">
<div class="container text-light rounded">

    <form method="POST">
        {% csrf_token %}


        <div class=" bg-dark border border-light rounded border-2 p-2 m-2 ">

            <h4>DATOS DEL ALUMNO/A</h4><br>
            <div class="input-group mb-3 ">
                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Apellido</span>
                <input type="text" name="apellido_alumno" id="apellido_alumno" class="form-control border border-dark "
                    required>
            </div>
            <div class="input-group mb-3 ">
                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Nombre</span>
                <input type="text" name="nombre_alumno" id="nombre_alumno" class="form-control border border-dark "
                    required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text border border-dark bg-secondary" id="inputGroup-sizing-default">DNI</span>
                <input type="text" name="dni_alumno"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 8);"
                    class="form-control border border-dark " required>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text border border-dark bg-secondary">Curso al que se inscribe</label>
                <select id="curso" name="curso" class="border border-dark  p-2">
                    {% for curso in cursos %}
                    <option value="{{ curso.id }}">{{ curso.nombre_curso }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        


        <div class="bg-dark border border-light rounded border-2 p-2 m-2">
            <h4>DATOS DEL TUTOR/A</h4><br>
            <div class="input-group mb-3">
                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Apellido</span>
                <input type="text" name="apellido_tutor" class="form-control border border-dark " required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Nombre</span>
                <input type="text" name="nombre_tutor" class="form-control border border-dark " required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text border border-dark bg-secondary" id="inputGroup-sizing-default">DNI</span>
                <input type="text" name="dni_tutor"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 8);"
                    class="form-control border border-dark " required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Telefono</span>
                <input type="text" name="telefono_tutor"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10);"
                    class="form-control border border-dark " required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Barrio</span>
                <input type="text" name="barrio" class="form-control border border-dark ">

                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Vivienda</span>
                <input type="text" name="vivienda" class="form-control border border-dark ">

                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Calle</span>
                <input type="text" name="calle" class="form-control border border-dark ">

                <span class="input-group-text border border-dark bg-secondary"
                id="inputGroup-sizing-default">Numero</span>
            <input type="text" name="numero" class="form-control border border-dark ">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Casa</span>
                <input type="text" name="casa" class="form-control border border-dark ">

                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Piso</span>
                <input type="text" name="piso" class="form-control border border-dark ">

                <span class="input-group-text border border-dark bg-secondary" id="inputGroup-sizing-default">Depto.
                    Nº</span>
                <input type="text" name="depto" class="form-control border border-dark ">

                <span class="input-group-text border border-dark bg-secondary"
                    id="inputGroup-sizing-default">Sector</span>
                <input type="text" name="sector" class="form-control border border-dark ">
            </div>
        </div>
        <div class="container bg-dark border border-light rounded border-2 p-1 ">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end p-2">
        <a class="btn btn-danger me-md-1 border border-dark w-100  p-3" type="button" href={% url 'home' %}>Cancelar</a>
        <button class="btn btn-success w-100 border border-dark  p-3" type="submit" value="Guardar">Guardar</button>
    </div>
</div>
</div>

</div>
</div>
</form>




{% endblock %}